.loader-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #1dce14;
  overflow: hidden;
}

.loader-circles {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(45deg);
  width: 200px;
  height: 200px;
}
.loader-circles .circle {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: transparent;
  border: 4px solid #ffffff;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-right-color: transparent;
  text-align: center;
}
.loader-circles .circle:nth-child(1) {
  width: 20px;
  height: 20px;
  animation: rotate-circle linear infinite;
  animation-duration: 10s;
}
.loader-circles .circle:nth-child(2) {
  width: 40px;
  height: 40px;
  animation: rotate-circle linear infinite;
  animation-duration: 5s;
}
.loader-circles .circle:nth-child(3) {
  width: 60px;
  height: 60px;
  animation: rotate-circle linear infinite;
  animation-duration: 3.33333s;
}
.loader-circles .circle:nth-child(4) {
  width: 80px;
  height: 80px;
  animation: rotate-circle linear infinite;
  animation-duration: 2.5s;
}
.loader-circles .circle:nth-child(5) {
  width: 100px;
  height: 100px;
  animation: rotate-circle linear infinite;
  animation-duration: 2s;
}
.loader-circles .circle:nth-child(6) {
  width: 120px;
  height: 120px;
  animation: rotate-circle linear infinite;
  animation-duration: 1.66667s;
}
.loader-circles .circle:nth-child(7) {
  width: 140px;
  height: 140px;
  animation: rotate-circle linear infinite;
  animation-duration: 1.42857s;
}
.loader-circles .circle:nth-child(8) {
  width: 160px;
  height: 160px;
  animation: rotate-circle linear infinite;
  animation-duration: 1.25s;
}
.loader-circles .circle:nth-child(9) {
  width: 180px;
  height: 180px;
  animation: rotate-circle linear infinite;
  animation-duration: 1.11111s;
}
.loader-circles .circle:nth-child(10) {
  width: 200px;
  height: 200px;
  animation: rotate-circle linear infinite;
  animation-duration: 1s;
}
@keyframes rotate-circle {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-circle {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-circle {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-circle {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-circle {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-circle {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-circle {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-circle {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-circle {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-circle {
  100% {
    transform: rotate(360deg);
  }
}
